body{
background-image:url("./img/background.jpg");
padding: 0 3rem;
}
nav{
    background-color: rgb(139,69,19);
    color: rgb(255, 255, 255);
    padding: 0.5rem;
    margin-top: 3rem;
    text-align: center;
    font-size: 1.5rem;
}
img {
    width: 100%;
    height: auto;
}
.artist {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 3fr;
    border-bottom: 4px solid rgb(139,69,19);
    padding: 2rem;
}
.album {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
}
.album img {
    width: 72%;
}
section p {
    background: rgba(225, 225, 225);
    padding: 1rem;
}
.artist {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 3fr;
    border-bottom: 4px solid rgb(225, 225, 225);
    padding: 2rem;
}
.album {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
}
.album img {
    width: 72%;
}
section p {
    background: rgba(255,255,255,0.8);
    padding: 1rem;
}
.artist {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 3fr;
    border-bottom: 4px solid white;
    padding: 2rem;
}
.album {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
}
.album img {
    width: 72%;
}
section p {
    background: rgba(255,255,255,0.8);
    padding: 1rem;
}
footer {
    background: rgb(139,69,19);
    color: white;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    margin: 0.5rem 0rem 0.5rem 0rem;
  }