body{
background-image:url("./img/background.jpg");
padding: 0 3rem;
}
nav{
    background-color: rgb(139,69,19);
    color: rgb(255, 255, 255);
    padding: 0.5rem;
    margin-top: 3rem;
    text-align: center;
    font-size: 1.5rem;
}
img {
    width: 100%;
    height: auto;
}
.profile {
    padding-top: 3rem;
}
.artist1 {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 3fr;
    border-bottom: 4px solid rgb(225,225,225);
    padding: 0 0 2rem 0;
}
.album {
    display: flex;
    flex-basis: 33%;
    justify-content: space-between;
}
.album img {
   padding-left: 5rem;
}
.album img:hover {
    transform: scale(1.1);
    transition: transform 0.25s ease;


 }
.album img:first-child {
    padding-left: 0;
}
section p {
    background: rgba(225, 225, 225);
    padding: 1rem;
}
.artist2 {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 3fr;
    border-bottom: 4px solid rgb(225, 225, 225);
    padding: 2rem 0;
}


section p {
    background: rgba(255,255,255,0.8);
    padding: 1rem;
}
.artist3 {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 3fr;
    border-bottom: 4px solid white;
    padding: 2rem;
}


section p {
    background: rgba(255,255,255,0.8);
    padding: 1rem;
}
footer {
    background: rgb(139,69,19);
    color: white;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    margin: 0.5rem 0rem 0.5rem 0rem;
}
a {
    color: #000000;
    text-decoration: none;
}
a:hover {
    color:rgb(139,69,19);
    text-decoration: underline;
  }
